*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑";
}
.token.selector{
  color: #000;
}
.token.property{
  color:#000;
}
.token.function{
  color:#333;
}
#code{
  height: 100vh;
  overflow: hidden;
}
#paper > pre {
  padding-left: 16px;
}